{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}

    <div class="showcase">
		<div class="showcase__block">
			<div class="showcase__text">
				Welcome to <br> tour-de-Qazaqstan!
			</div>
		</div>
	</div>

    <section id="about">
		<div class="container">
			<div class="about__body">
				<h1 class="about__title">About <span>tour-de-Qazaqstan</span></h1>
			<p><span>Tour-de-Qazaqstan</span> is a tour operator in Almaty which organizes and conducts individual tours and excursions in Kazakhstan and Central Asia since 2015. </p>
				<p>We help to travel safely and comfortably, away from noisy and large groups of tourists, because only in this way you can feel the beauty of the world and stay alone with nature. </p>
				<p>The main mode of transport in our company is full-drive off-road vehicles. Jeeps will take our customers to the most remote places in Kazakhstan, Kyrgyzstan and Uzbekistan. Time saving, comfort and clear pictures while driving are only a part of what this mode of transport can boast. When travelling long distances, rest on the road is very important. </p>
				<ul class="about__list">
					<li>Are you planning to visit Kazakhstan or Central Asia?</li>
					<li>Have you already bought tickets to Almaty or Nur-Sultan and are looking for a tour?</li>
					<li>Are you already in Almaty or Nur-Sultan and want to go on a trip the next day?</li>
					<li>A tour bought with another company cancelled and you want to start on a trip as soon as possible?</li>
				</ul>
				<p>In all these cases, please contact us and we will definitely help you. Our consultants answer within 2 hours and are available 24 hours 7 days a week.</p>
			</div>
		</div>
	</section>

	<section class="reason">
		<div class="container">
			<div class="reason__body">
				<div class="reason__title">Reasons to travel with <br> <span>tour-de-Qazaqstan</span></div>
				<div class="reason__list">
					<ul class="check">
						<li>We provide a car with a guide 30 minutes before departure</li>
						<li>We carry out technical inspection of vehicles after each tour</li>
						<li>We know how to glue a tire in the middle of the steppe</li>
						<li>We will show you how to avoid a tick bite and treat the wound if you get hurt</li>
						<li>We will find an individual approach to any customer</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

   <div class="container">
     <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4 display-4 "><strong>Frequently Asked Questions</strong></h2>
        <div class="accordion accordion-flush" id="questions">
          <!-- Item 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-one"
              >
                Where exactly are you located?
              </button>
            </h2>
            <div
              id="question-one"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-two"
              >
                How much does it cost to attend?
              </button>
            </h2>
            <div
              id="question-two"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-three"
              >
                What do I need to Know?
              </button>
            </h2>
            <div
              id="question-three"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
          <!-- Item 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-four"
              >
                How Do I sign up?
              </button>
            </h2>
            <div
              id="question-four"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
          <!-- Item 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed q_head"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-five"
              >
                Do you help me find a job?
              </button>
            </h2>
            <div
              id="question-five"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                beatae fuga animi distinctio perspiciatis adipisci velit maiores
                totam tempora accusamus modi explicabo accusantium consequatur,
                praesentium rem quisquam molestias at quos vero. Officiis ad
                velit doloremque at. Dignissimos praesentium necessitatibus
                natus corrupti cum consequatur aliquam! Minima molestias iure
                quam distinctio velit.
              </div>
            </div>
          </div>
        </div>
      </div>
   </section>
   </div>

	<section id="instructors" class="p-5 bg-primary">
      <div class="container">
        <h2 class="text-center text-white display-4"><strong>Our Instructors</strong></h2>
        <p class="lead text-center text-white mb-5">
          Our instructors all have 5+ years working as a web developer in the
          industry
        </p>
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/11.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">John Doe</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/women/11.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Jane Doe</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/men/12.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Steve Smith</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="https://randomuser.me/api/portraits/women/12.jpg"
                  class="rounded-circle mb-3"
                  alt=""
                />
                <h3 class="card-title mb-3">Sara Smith</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                </p>
                <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
   </section>

    <div class="contact">
		<div class="container">
			<div class="contact__title">Contact Us</div>
			<div class="contact__row">
				<div class="contact__item">
					<div class="item__title">You can contact us</div>
					<form action="#" class="item__form" method="post">
                        {% csrf_token %}
						<input type="text" placeholder="Name" name="name">
						<input type="email" placeholder="E-mail" name="email">
						<input type="text" placeholder="Phone" name="phone">
						<textarea name="text" rows="2.5" placeholder="Text..."></textarea>
						<input type="submit" value="Send">
					</form>
				</div>
				<div class="contact__item">
					<div class="item__title">Our Address</div>
						<p class="address item__info">Kazakhstan, Astana, 13 Kabanbay Batyr avenue</p>
						<p class="number item__info">+7 (7172) 688 648 <br> +7 775 713 60 72</p>
						<p class="email item__info">info@tour-de-qaz.kz</p>
				</div>
			</div>
			<div class="contact__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.5975358985834!2d76.89010527375476!3d43.23889714728876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836916e96b83ab%3A0x81db496bda3a2e1b!2sTourism%20Company%20Kazakhstan!5e0!3m2!1sru!2skz!4v1634126028259!5m2!1sru!2skz" width="100%" height="450" style="border:2px solid #4d51fa;" allowfullscreen loading="lazy"></iframe>
			</div>
		</div>
	</div>

{% endblock %}