{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{#{% block active %}{% endblock %}#}

{% block content %}

    <section>
        <div class="container">
            <div style="margin-top: 100px" class="section__header">
                <h2 style="margin-bottom: 50px" class="section__title">Our Project Goal</h2>
                <div class="section__text">
                    <p>Our project goal is to help people plan, choose and arrange their holiday.</p>
                    <p>Provide the tourist market with the quality personal required by the tourism industry. Produce
                        expeditions and memories that would satisfy each and every single of the customers. Evaluate
                        current cultural, economic, and social issues affecting the tourism and travel industry.</p>
                </div>
            </div>
            <div style="margin-top: 100px" class="section__header">
                <h2 style="margin-bottom: 50px" class="section__title">Info about project</h2>
                <div class="section__text">
                    <p>Our project is the design of the website of a travel company. On this site you can buy and book
                        tickets. It is possible to check the Status of Flights.
                        Get acquainted with all the information about tours, choose a country, the number of people, the
                        date of flight and arrival, and many many other possibilities.
                        The most important function is to book tours. and you can also see all the available tours. The
                        task of a tour agency is to serve customers, find a suitable tour and advise, do everything
                        possible for comfort.</p>
                    <p>Also the site has an authorization tab. there the user can add tours, flights and view the
                        shopping cart. Also add credit card and other personal information. Change password and other
                        data.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <hr>
        <div>{% lorem 3 p %}</div>
    </div>

{% endblock %}
