{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}

    <div class="signup">
        <div class="container">

            <div class="signup-form">

                <br>
                <h1>Sign Up</h1>
                <br>

                <form action="#" method="post" class="item__form" style="width: 500px;">
                    {% csrf_token %}
                    {{ form }}<br>
                    <input type="submit" value="Sign Up" class="btn">
                    <br><br>
                    <div>
                        <p>Already have an account?!</p>
                        <a href="{% url 'blog:login' %}" class="btn">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}