/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Montserrat:wght@300;400;500;600&display=swap');

/*
    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Montserrat', sans-serif;
 */

/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1.5;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


/*Global*/


.header__logo{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	color: #4d51fa;
}

/*Showcase -------------------------*/

.showcase
{
	height: 500px;

	background-image: url(../../../../../../Lab_2/travel_bootstrap/img/showcase.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
}
.showcase__text
{
	color: #fff;
	font-size: 70px;
	font-weight: 600;

	text-align: center;
	padding: 200px 0; 
}

/*About---------------------------*/

.about__body
{
	padding: 0 100px;
	font-weight: 400;
	line-height: 20px;
}
.about__title
{
	font-size: 48px;
	font-weight: 600;
	text-align: center;

	padding: 70px 0;
}
.about__title span{color:#4d51fa;}
.about__body p{
	margin-bottom: 40px;

}
.about__body span{color:#4d51fa;font-weight: 600; }
.about__list li
{
	list-style-type: disc;
	margin-bottom: 15px;
}

/*Reasons --------------------------*/

.reason
{
	background-color: #f0ebce;
	padding: 100px 0;
}
.reason__title span{color: #4d51fa;}
.reason__title
{
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 50px;
}
.reason__list
{
	margin: 0 0 0 250px;

}
.reason__list li
{
	font-size: 20px;
	padding-bottom: 50px;
	list-style-type: disc;
}
.reason__list li:last-child{padding-bottom: 0;}


/*FAQ*/
.q_head
{
	font-size: 19px;
}

/*Contact ---------------------------*/

.contact
{
	/*padding: 50px 0;*/

}
.contact__title
{
	font-size: 48px;
	font-weight: 600;
	text-align:center;
	padding: 50px 0 80px 0;
}
.contact__row
{
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.contact__item
{
	width: 400px;
}
.item__title
{
	font-size: 24px;
	text-align: center;
	padding-bottom: 25px;
}
.item__form input
{
	display: block;
	width: 50%;
	padding: 20px;
	margin-bottom: 25px;

	border-left: 2px solid #4d51fa;
	border-bottom: 2px solid #4d51fa;

  transition: width 0.4s ease-in-out;

}
.item__form input:focus
{
	width: 100%;
}

.item__form textarea
{
	width: 100%;
	margin-bottom: 25px;
	padding: 0 20px;
	border-left: 2px solid #4d51fa;
	border-bottom: 2px solid #4d51fa;
	resize: none;
}

.item__form input[type=submit]
{
	border:2px solid #4d51fa;
	background-color: #4d51fa;
	color: #fff;
	width: 100%;

}
.item__form input[type=submit]:hover
{
	background-color: #fff;
	border:2px solid #4d51fa;
	color: #4d51fa;
	cursor: pointer;
}

.item__info
{
	margin-bottom: 25px;
	padding-left: 70px;
	background-repeat: no-repeat;
}
.address
{
	background-image: url(../../../../../../Lab_2/travel_bootstrap/img/home-address.png);
	background-size: 32px;
}
.email
{
	background-image: url(../../../../../../Lab_2/travel_bootstrap/img/email_black.png);
	background-size: 32px;
	padding-bottom: 15px;
	padding-top: 7px;

}
.number
{
	background-image: url(../../../../../../Lab_2/travel_bootstrap/img/phone.png);
	background-size: 35px;
}
/*Footer ---------------------------*/

.footer{
	padding: 60px 0;
}
.footer__row
{
	display: flex;
	justify-content: space-between;
}
.footer__logo a{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	color: #4d51fa;
}
.footer__logo{padding-bottom: 20px;}
.footer__soc-media
{
	margin: 30px 0;
}
.footer__subtitle
{
	font-size: 14px;
	color: gray;
}
.footer__soc-media a{padding-right: 8px;}
.footer__soc-media img
{
	width: 20px;
}
.footer__soc-media img:hover
{
	opacity: 0.4;
}
.footer__rights
{
	padding: 50px 0 0 0;
	font-size: 14px;
	color: gray;
	word-spacing: 1px;
}

.footer__links
{
	display: flex;
}
.link-col
{
	display: flex;
	flex-direction: column;

	padding-left: 100px;
}
.link-col:first-child
	{
		padding-left: 0;
	}
.link__title
{
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 20px;
}
.link-col a
{
	font-size: 14px;
	padding: 8px 0;
	color: gray;
}
.link-col a:hover{color: #000;}


/*Responsivity*/

@media(max-width: 1100px){

	.container{width: 100%;}

	.about__title{font-size: 36px;}
	.reason__title{font-size: 36px;padding-bottom: 25px;}
	.contact__title{font-size: 36px;padding:25px 0;}

	.contact__row
	{
		flex-direction: column;
		align-items: center;
	}

	.showcase__text
	{
		font-size: 36px;
		margin: 0; 
		padding-top: 250px;
	}

	.title
	{
		font-size: 24px;
	}

	.about__body
	{
		padding: 0;
	}

	.reason{padding: 25px 0;}
	.reason__list
	{
		margin: 0;
	}
	.reason__list li
	{
		padding: 0 0 10px 0 ;
		font-size: 18px;
	}


}

@media(max-width: 900px)
{
	
	.footer{padding: 20px 0;}
	.footer__row
	{
		flex-direction: column;
	}
	.footer__rights
	{
		padding: 0 0 30px 0;
	}
	
}